:root {
  font-size: 20px;
  font-size: calc(8px + 1vmax);
  --background-primary: #292a2f;
  --text-disclaimer: #8595a5;
}

body {
  font-family: Segoe UI, sans-serif;
  padding: 0px;
  margin: 0px;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  background-color: var(--background-primary);
}

.text {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.disclaimer-container {
  flex: 0 0; /* do not grow or shrink */
  margin-top: auto;
}

.disclaimer {
  text-align: right;
  font-size: 0.5em;
  padding: 1em;
  
  color: var(--text-disclaimer);
}

p {
  padding-bottom: 2em;
  margin-left: 2em;
  
  color: floralwhite;
}

h1 {
  font-weight: lighter;
  color: slategray;
}