:root {
  font-size: 18px;
  font-size: calc(8px + 1vmax);

  --background-dark: #292a2f;
  --scrollbar-track: #1c1c1d;
  --theme-primary: slategray;

  --text-main: floralwhite;
  --text-disclaimer: #8595a5;
}

body {
  font-family: Segoe UI, sans-serif;
  padding: 0px;
  margin: 0px;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  background-color: var(--background-dark);
}
body::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
body::-webkit-scrollbar-thumb {
  background: var(--theme-primary);
}

a {
  color: var(--theme-primary);
}

h1 {
  font-weight: lighter;
  color: var(--theme-primary);
}

p {
  padding-bottom: 1.75em;
  margin-left: 2em;
  
  color: var(--text-main);
}

.text {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  min-width: 28em;
}

@media only screen and (max-width: 440px) {
  p {
    margin-left: 0em;
  }

  .text {
    width: fit-content;
    min-width: 0px;
  }
}

#current-page-address {
  overflow-wrap: break-word;
}

.disclaimer-container {
  flex: 0 0; /* do not grow or shrink */
  margin-top: auto;
}

#disclaimer {
  text-align: right;
  font-size: 0.5em;
  padding: 1em;
  
  color: var(--text-disclaimer);
}
